body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.list, table, th {
    text-align: center;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: white;
}

.btn, .btn:hover {
    box-shadow: #808080 1px 2px;
    color: white;
}

.banner {
    position: fixed;
    top: 105px;
    right: 30px;
    width: 420px;
    height: 870px;
    box-shadow: 0px 10px 10px;
}

.child-sticky {
    position: sticky;
    top: 105px;
    position: -webkit-sticky;
}

.flex-float-box {
    position: absolute;
    top: 53px;
    left: 58%;
}

.nav-header {
    margin:0;
    border-bottom: 2px solid #808080;
    padding: 5px;
}

.nav-hover {
    transition: 0.7s;
}

    .nav-hover:hover {
        background-color: #808080;
        border-top-left-radius: 18px;
        border-bottom-right-radius: 18px;
    }

.scrollable {
    max-height: 60vh;
    overflow: auto;
}